html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  width: auto;
}

/* This is a hack for FireFox that the <b> tag does not work */

strong,
b {
  font-weight: bold;
}

a {
  outline: none;
  cursor: pointer;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.banner {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: auto;
  background-color: #ffffff;
  display: flex;
}

.banner .banner-table {
  padding: 20px 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  align-self: flex-end;
}

/* Add a colour to Alpha */

.banner h1,
.banner h2,
.banner h3,
.banner p,
.text1
.banner span {
  color: rgb(0, 0, 0);
}

/*nav */

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #005cbf;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {

  color: rgb(0, 0, 0);
} 

.topnav a.split {
  float: right;
  color: rgb(0, 0, 0);
}

#news #contact{
  float: right;
}

.text1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  align-self: flex-end;
  line-height: 1.5
}

.text{
  line-height: 1.9;
}

.visit{
  padding: 20px 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  align-self: flex-end;
}

body, html {  
  height: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #111;
  display: block;
  flex-direction: row;
  align-items: normal;
  align-content: flex-start;
  justify-content: flex-start;
  background-color: #ECECEC;
}

.container {
  width: auto;
  display: inline-block;
  flex-direction: column-reverse;
  margin-left: 90%;
}

.btn {
  float: right;
  margin: 20px;
  border: none;
  padding: 10px 10px;
  font-size: 10x;
  position: relative;
}

.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.505);
  position: absolute;
  top: 0;
  left: 0;
}

.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
  display: flex;
  align-items: flex-end;

}
.btn:hover::before {
  background: rgba(0, 0, 0, 0.504);
  width: 100%;
}

.btn.rounded {
  border-radius: 60px;
}



 .img{
  width: 355px;
  background-position: left;
  padding: 2px;
   
} 

.link{
  display: flex;
}


#para{
  margin-bottom: 20%;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}

body{
  display: contents;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  background-color: #000000ff;
  /* position: relative; nood */
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.container-footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.row-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-footer{
  min-width: 250px;
  color:#f2f2f2f2;
  font-family: poppins;
  padding:0 2rem;
}

.col-footer .logo{
  width: 100px;
  margin-bottom:25px;
}

.col-footer h3{
  color:#ff014fff;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col-footer h3::after{
  content: '';
  height:3px;
  width:0px;
  background-color: #ff014fff;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.3s ease;

}

.col-footer h3:hover::after{
  width:30px
}
.col-footer .social-footer a i{
  color:#ff014fff;
  margin-top:2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col-footer .social-footer a i:hover{
  transform: scale(1.5);
  filter:grayscale(25);
}
.col-footer .links-footer a{
  display: block;
  text-decoration: none;
  color:#f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col-footer .links-footer a::before{
  content:'';
  height: 16px;
  width:3px;
  position: absolute;
  top:5px;
  left:-10px;
  background-color: #ff014fff;
  transition: 0.5s ease;
  opacity: 0;
}
.col-footer .links-footer a:hover::before{
  opacity: 1;
}
.col-footer .links-footer a:hover{
  transform: translateX(-8px);
  color:#ff014fff;
}
.col-footer .contact-details{
  display: inline-flex;
  justify-content: space-between;
}
.col-footer .contact-details i{
  margin-right:15px;
}
.row-footer .form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem 0;
}
.row-footer .form input{
  background-color: #1a1c20ff;
  border:0;
  outline:none;
  padding:14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button{
  padding:14px 20px;
  border:0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ff014fff;
}

/* Places*/

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
}


.gallery a.flex-column,
.gallery div.flex-column {
  padding: 15px;
  cursor: default;
}

.gallery .flex-column img,
.gallery .flex-colum
.gallery div.flex-column {
  border-radius: 2px;
  width: 100%;
  background-size: 30px 30px;
  background-position: center;
  min-height: 50px;
}

.gallery a.flex-column
.gallery div.flex-column
.gallery a.flex-column
.gallery div.flex-column {
  width: 100%;
  text-align: center;
}

.add-top-margin {
  margin-top: 15px;
}

.add-top-margin-small {
  margin-top: 5px;
}

.add-top-margin-large {
  margin-top: 30px;
}

.add-bottom-margin {
  margin-bottom: 15px;
}

.add-bottom-margin-small {
  margin-bottom: 5px;
}

.add-bottom-margin-large {
  margin-bottom: 30px;
}

  .gallery a.flex-column,
  .gallery div.flex-column {
    flex: 1 0 25%;
    max-width: 25%;
  }